@font-face {
    font-family: Gotam; /* Имя шрифта */
    src: url(../fonts/GothaProBla.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MProB; /* Имя шрифта */
    src: url(../fonts/MyriadPro-Bold.otf); /* Путь к файлу со шрифтом */
}
ul li{
	list-style:none;
}
input:focus{
	outline: 0
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* высота веб-страницы больше или равна высоте окна браузера */
  margin: 0;
}
main {
  flex: 1;  /* если содержимое body меньше высоты окна, то main будет растянут до нужной величины */
}
/*____________________контейнеры________________________*/
.container{
	width: 1180px;
	margin: 0 auto;
}
.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.start{
	justify-content: flex-start;
}
.wrap{
	flex-wrap: wrap
}
.column{
	flex-direction: column;
	justify-content: space-between;
}
.cols2{
	width: 50%
}
.col30{
	width: 30%;
	min-width: 320px;
}
.col70{
	width: calc(100% - 380px)
}
.col40{
	width: 40%;
	min-width: 320px;
}
.col60{
	width: calc(100% - 500px)
}
.c70{
	width: 70%
}
.c30{
	width: 30%
}
.c33{
	width: 33.8%;
	min-width: 365px;
}
.c66{
	width: 66%;
}
.c50{
	width: 50%
}
/*________________________________ШАПКА___________________*/
.main-header-top-company {
	width: 160px;
	text-align: right;
}
.main-header-top-lk {
	width: 430px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.main-header-top{
	font-size: 30px;
	color: rgba(8,9,5,1);
	padding-top: 10px;
}
.main-header-top a{
	color: rgba(8,9,5,1);
}
.main-header-top a:first-child:hover{
	color: #d4aa04;
	transition: 0.3s;
	border-bottom: 1px solid #d4aa04;
}
.main-header-top-company a, .main-header-top-lk a{
    font-family: "Gotam";
    text-decoration: none;
    border-bottom: 1px solid rgba(8,9,5,1);
}
.main-header-top-logo{
	padding-top: 15px;
}
.main-header-top-lk > a{
	position: relative;
	
	margin-left: 60px; 
}
.main-header-top-lk > a:before{
	content: "";
	display: block;
	position: absolute;
	height: 50px;
	width: 40px;
	background-image: url("../img/lk.png");
	background-repeat: no-repeat;
	top: -7px;
   left: -60px;
}
.main-header-top-com, .main-header-top-company, .main-header-top-lk {
	padding-top: 30px;
	position: relative;
}
.main-header-top-com *{
	font-family: Arial;
	margin: 5px 0;
}
.main-header-top-com div:last-child{
	font-size: 16px;
}
.main-header-top-com div:first-child{
	font-size: 32px;
	letter-spacing: 1px
}
.main-header-top-com div:last-child span{
	 margin: 0 2px;
}
.main-header-top-com div:last-child span a{
	 text-decoration: none;
}
.main-header-bottom h1{
	font-size: 60px;
	//font-family: "Gotam";
	padding-bottom: 20px;
}
.await .c50 {
    position: relative;
line-height:30px
}
.main-header-bottom nav a{
	font-size: 30px;
	font-family: Arial;
	color: rgba(8,9,5,1);
}
.main-header-bottom nav a span{
	font-size: 22px;
}
.main-header-bottom nav div:first-child{
	width: 210px;
}
/*____________________футеeeeeeeeeeeeeeeр_________________*/
.footer{
	background-image: url(../img/footer-line.png);
	background-repeat: repeat-x;
	height: 230px;
	background-size: contain;
	padding-top: 45px;
	box-sizing: border-box;
}
.footer>div:first-child{
	width: 235px
}
.footer>div:nth-child(2){
	width: 330px;
	padding-top: 37px;
	box-sizing: border-box;
}
.footer>div:nth-child(2) p{
	margin: 3px
}
.solidWorks{
	position: relative;
	padding-left: 55px; 
	width: 180px;
}
.solidWorks:before{
	content: "";
	display: block;
	position: absolute;
	height: 43px;
	width: 43px;
	left: 0;
	top: 10px;
	background-image: url(../img/like_solid.png);
	background-repeat: no-repeat;
	background-size: cover ;
}
.footer *{
	font-family: Arial;
	font-size: 14px;
}
.footer a{
	text-decoration: underline;
	color: #d4aa04;
	font-size: 14px;
	font-family: Arial;
}
.copyright_desc{
	padding-left: 12px;
}


/*______________Основное_________________страница настроек_________________*/
.admin-main{
	padding-bottom: 40px;
}
.admin-main h3{
	font-family: Arial,sans-serif;
	font-size: 18px;
	font-weight: normal;
}
.admin-main h2{
	font-family: Arial,sans-serif;
	font-size: 30px;
	font-weight: bold;
}
.admin-main .flex{
	margin: 20px 0
}
.admin-main label {
	font-size: 18px;
	font-family: Arial, sans-serif;
	padding:15px;
}
.admin-main .cols2> div:first-child label {
	padding:0;
}
.admin-main label span{
	font-size: 14px;
	font-style: italic;
}
.admin-main input[type=text]{
	padding:12px;
	font-size: 14px;
	width: 250px
}
.admin-main input[type=file]{
	border: 1px solid rgba(8,9,5,0.3);
	height: 40px;
	width: 280px;
	padding-top: 15px;
}
.admin-main .leftcol{
	text-align: center;
}
.admin-main .leftcol div:first-child{
	padding-top: 20px;
	margin-bottom: 25px;
}
.admin-main .submit{
	background-color: #ffd800;
	border:0;
	font-size: 23px;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
}
.admin-main .submit:hover{
	background-color:#ffbc00;
}
.admin-main .leftcol .submit{
	padding: 10px 80px; 
	margin-top: 110px;
}
.tizer{
	width: 480px;
}
#tizer_form_count{
	display: none;
}
.tizer-pos {
	width: 280px;
}
.tizer-pos input {
	width: 70px;
	padding: 11px;
}
.tizer label  {
	padding:5px;
}
.tizer input[type=file] {

}
.tizer-buttons *{
	padding: 10px;
    width: 49%;
    min-width: 320px;
}




/*Артисты*/
.artists h3{
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
}
.new_artist{
	display: block;
	font-size: 22px;
	text-decoration: none;
	padding: 15px 55px;
	background-color: #56e73e;
	border-radius: 10px;
	margin-top: 20px;
	color:#000;
	width: 310px;
	text-align: center;
	box-sizing: border-box;
}
.artists-list-img{
	width: 110px;
	padding-top: 20px; 

}
.artists-list-img img{
	width: 100%
}
.artists-list-desc{
	width: 600px
}
.artists_edit{
	width: 315px;
	padding-top: 20px;
}
.artists_edit a{
	display: block;
	box-sizing: border-box;
}
.edit{
	 width: 310px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #ffd800;
    height: 55px;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
}
.disabled{
	background-color: #ebebeb;
}
.disabled-y{
	background-color: #fff3b2;
}
.main-orders .info{
	font-size: 14px;
	font-style: italic;
}

.remove{
	color: #ff0000;
	text-align: right;
	text-decoration: none;
	font-size: 18px;
}
.remove span{
	text-decoration: underline;
	font-size: 22px;
}
.artists-list li{
 border-bottom: 1px solid #f1f1f1
}
.artists-list-desc-params{
	font-weight: bold;
	font-size: 16px;
}
.artist-rating, .artist-comment{
	padding-left: 20px;
	position: relative;
}
.artist-rating:before,.artist-comment:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;

}
.artist-rating:before{
	top: 0;
	width: 15px;
	height: 14px;
	background-image: url(../img/star.png);	
}
.artist-comment:before{
	top:2px;
	width: 13px;
	height: 12px;
	background-image: url(../img/comment.png);
}
.artists-list-desc-params>.flex{
	width: 115px;
	margin: 0;
}
.artist-price{
	width: 50%
}
.pagination{
	margin-top: 40px;
}
.pagination li{
	padding: 0 4px;
}
.pagination li a{
	color: #000;
	font-size: 32px;
}
.pagination li.selected a{
	color: #d4aa04;
	text-decoration: none;
}
/*____________Добавление певца_________________*/
.audio input, .media input{
		height: 30px;
}
.audio input[type="text"], .media input[type="text"], .audio input[type="file"], .media input[type="file"]{
	width: 280px;
	box-sizing: border-box;
}
.audio input[type="file"], .media input[type="file"]{
	padding: 2px;
	height: 30px;
	border: 0
}

.media input[type="submit"], .audio input[type="submit"]{
	background-color: #ffd800;
	font-size: 18px;
	transition: 0.5s;
	cursor: pointer;
	padding: 5px 20px; 
	margin-top: 10px; 
}
.audio label, .media label, #info label{
	min-width: 170px;
	padding: 0;
}
#info input[type="text"]{
	width: calc(100% - 170px);
	height: 30px;
	box-sizing: border-box;
}


.item{
    position: relative;
    width: 380px;
    
	
}
.item-cont div{
	text-align: right;
	padding: 3px 6px 1px;
	font-size: 20px;
	font-weight: bold;
}
.item-cont div a{
	cursor: pointer;
}
.item h5{
	padding: 10px 0;
	margin: 0;
	height: 35px;
	overflow: hidden;
	box-sizing: border-box;
}
.add-artist-nav span{
	cursor: pointer;
}

/*Filter*/
.filter{
	font-family: Arial;
}
.filter h3{
	font-size: 30px;
	margin: 0
}
.filter h5{
	font-size: 24px;
	font-weight: normal;
	margin: 15px 0;
}
.filter hr{
	color: #dadada;
	border: none;
   background-color:  #dadada; 
   height: 1px; 
}
.filter label{
	font-size: 14px;
	padding: 0px 0px 0 23px;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
#languages li, #type li{
	width: 46%
}
#type li{
	display: flex;
	justify-content: space-between;
}
#languages h5, #type h5{
	margin-bottom: 30px; 
}
#languages label:not(.filter_radio){
	width: calc(100% - 30px);
}
#languages ul li:first-child > div, #type ul li:first-child > div{
	position: relative;
}
#languages ul li:first-child > div:before, #type ul li:first-child > div:before{
	content: "Тэг";
	position: absolute;
	top: -25px
}
#time li{
	width: 100%
}
.filter ul{
	padding: 0;
}
.filter ul li{
	margin: 3px 0;
	display: flex;
	justify-content: space-between;
}
.filter{
	box-sizing: border-box;
	width: calc(30% - 30px)
}
.filter select{
    height: 30px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px; 
}
.filter-wrap{
	background-color: #f3f3f3;
	padding: 15px 25px;
	border-radius: 7px;
}
.filter input[type=radio], .filter input[type=checkbox]{
	display: none
}
.filter input[type=radio] ~ label , .filter input[type=checkbox] ~ label{
	display: block;
	padding: 3px 0px 0 25px; 
	min-height: 20px;
	text-overflow: ellipsis;
	 white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}
.filter input[type=checkbox] ~ label{
	min-height: 20px;
}
.filter input[type=radio] ~ label:before{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: calc(50% - 10px);
	background-color: #fff;
	border: 1px solid #b0b0b0;
	border-radius: 50%
}
.filter input[type=radio]:checked ~ label:before {
	width: 5px;
	height: 5px;
	border: 7px solid  #ffbc00;
}
.filter input[type=checkbox] ~ label:before{
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: calc(50% - 10px);
	background-color: #fff;
	border: 1px solid #b0b0b0;
	border-radius: 2px;
}
label.check:before {
	background-image: url(../img/checkbox.png);
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid rgba(176, 176, 176, 0) !important;
}
.filter_radio{
	width: 20px;
	padding: 0 !important;
	height: 20px;
}
.filter a{
	font-size: 14px;
	color: #1f8df4;
	font-style: italic;
}
.profile_options_item{
	border-bottom: 1px solid #ececec;
	padding-bottom: 10px;
	position: relative;
}
.profile_options_item.ska:before{
	 content: "Основной";
    position: absolute;
    top: 28px;
    right: 52px;
    font-size: 12px;
    color: #ccc;
}
.profile_options_item:last-child{
	border-bottom: 0px solid #ececec;
}
#short-link input, #contacts_peoples input{
	width: 160px;
	box-sizing: border-box;
	padding: 8px 10px;
	margin-left: 5px; 

}
#contacts_peoples h6{
font-size: 16px;
font-weight: normal;
margin: 10px 0
}

#contacts_peoples{
	border-bottom: 1px solid #ececec 
}
.contact_people{
	min-width: 280px;
}
.contact_people>div{
	display: flex;
	justify-content: space-between;
	margin: 7px 0;
}

#comment_artist h5{
	margin-bottom: 0;
}
#comment_artist h6{
	margin-top: 10px;
}
#cancel{
	background-color: #ff0332;
	font-weight: bold;
	font-size: 24px;
	border: 0px solid red;
	cursor: pointer;
}
#cancel:hover{
	background-color: #c70328;
	transition: 0.5s
}

.info input[type=text], .info input[type=password]{
	 width: 100%;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
}
.information label{
	padding: 10px 10px 10px 0px;
	font-size: 16px;
}
.information textarea{
	width: 100%
}
#comment_artist textarea {
    width: 100%;
}
.contact_people a{
	 display: block;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 16px;
    color: #808080;
}
.autoriz {
    border: 2px solid #ffd800;
    padding: 0 20px;
    position: relative;
}
.autoriz:before {
    content: 'Этот блок доступен только менеджеру';
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ccc;
}
.autoriz.lk:before{
	content: ""
}
.add-artist-info>div{
	padding-bottom: 20px;
	margin-bottom: 20px; 
	
}
.ree{
	color: red;
	font-size: 12px;
	margin: 10px 0;
	display: none;
	position: absolute;
	top: -22px;
}
.filter .flex{
	margin: 0
}
.filter  label{
	padding: 0
}
.w100{
	width: 100% !important;
	margin: 10px 0 !important 
}
.filter_wrap {
    box-shadow: 3px 2px 10px rgba(128, 128, 128, 0.15);
    padding: 0 20px;
    position: relative;
}
.filter_wrap > div{
	padding: 20px 0;
	border-bottom: 1px solid #ccc; 
}
.filter_wrap > div:last-child{
	border-bottom: 0px solid #ccc; 
}
.media h5{
	font-size: 24px;
	font-weight: normal;
}
.video iframe{
	display: none;
}

.filter .media input[type="submit"], .audio input[type="submit"] {
   border: 1px solid #ecd13a;
}
.video_options > div{
	 width: 380px;
    position: relative;
    box-shadow: 2px 1px 10px -1px rgba(0, 0, 0, 0.22);
    margin-bottom: 15px;
}

.item input[type=number],.video_options input[type=number]{
	 text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-left: 6px;
}


.item.video .obert{
	position: relative;
	cursor: pointer;
}
.item.video .obert:before{
	content: "";
	display: block;
	position: absolute;
	height: 46px;
	width: 47px;
	left: calc(50% - 75px);
	top: calc(50% - 25px); 
	background-image: url(../img/play.png);
	 z-index: 2
}
.item.video .obert:after{
    content: "Воспроизвести";
    display: block;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 10px);
    font-size: 20px;
    color: #fff;
    z-index: 2;
}
.video_wrap{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.25);
	 z-index: 1
}

.gallery-img{
	height: 210px;
    width: 380px;
	background-position: center;
	background-size: cover;
}

.item input[type=number]{
	width: 50%;
}
.item .flex{
	 margin:  0;
    height: 35px;
    padding: 8px;
    background-color: #fff;
    box-sizing: border-box;
}

.remove_video{
	height: 25px;
	width: 25px;
	background-color: #fff !important;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ececec;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0 !important;
	z-index: 4
}
.item.img:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.25);
	background-image: url(../img/ava.png);
	background-position: 50px center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: none;
	z-index: 1
}
.item.img:after{
	content: "Сделать аватаркой";
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 70px);
	font-size: 20px;
   color: #fff;
   z-index: 2;
   cursor: pointer;
   opacity: 0;
}
.item.img:hover:before{
	display: block;
	transition: 0.5s
}
.item.img:hover:after{
	opacity: 1;
	transition: 0.6s
}
.item.audio{
	padding: 8px;
	box-shadow: 0px 0px 0px black;
	cursor: pointer;
}
.item.audio:hover{
	box-shadow: inset 0px 0px 3px #ffbc00;
	transition: 0.5s
}
.remove_audio{
	height: 20px !important;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff !important;
	border: 0px solid #fff !important;
	margin: 0 !important;

}
.music_title{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	font-family: Arial;
	padding-left: 35px;
	box-sizing: border-box;
	height: 20px;
	text-overflow: ellipsis;
	 white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}
.music_title:before{
	content: "";
	display: block;
	height: 20px;
	width: 20px;
	background-image: url(../img/music-note.png);
	position: absolute;
	left: 8px
}
.audio_options, .video_options{
	position: relative;
}
.audio_options:before, .video_options:before{
	content: "(менять порядок можно перетаскиванием)";
	display: block;
	position: absolute;
	top: -55px;
	right: 0;
	color: #ccc;
}


/*______________________________ЗАКАЗЫ*/
.statuses{
	font-size: 22px;
}
.statuses p:not(.stages-all){
	margin: 15px 0;
}
.stages-all{
	margin: 30px 0; 
}
.stages-all a{
		color: #010101;
}
.stages a{
	margin: 0 10px
}
.stages a:first-child{
	margin-left: 0; 
}
.stages-stage1{
	color: #ffd800;
}
.stages-stage2{
	color: #39f10e;
}
.stages-stage3{
	color: #9b9b9b;
}
.stages-stage4{
	color: #ff0000;
}
.main-orders table{
	width: 100%;
}
.order-table-head{
	font-size: 30px;
}
.order-table-col1{
	width: 500px;
	padding-right: 30px;
}
.order-table-col2{
	width: 135px;
	padding: 0 7px;
}
.order-table-col3{
    width: 180px;
}
.order-table-body .order-table-col3{
    padding: 20px 10px 0;
    font-size: 18px;
}
.order-table-col4{
	width: 310px;
}
.main-orders table td{
	vertical-align: text-top;
}
.order-table-col1 p{
	font-size: 14px;
}
.order-table-col1 h4{
	font-size: 22px;
	font-weight: normal;
}
.order-table-col1-params b{
	display: flex;
	flex-wrap: wrap;
	padding-right: 20px;
	box-sizing: border-box;
	justify-content: space-between;

}
.order-table-col1-params b > *{
  min-width: 85px;
  margin: 10px 0;
}
.order-table-name, .order-table-name~p{
	font-size: 22px;
}
.order-table-name span{
	text-decoration:underline;
}
.order-table-body {
    border-bottom: 1px solid #f1f1f1;
    padding: 30px 0;
    margin: 0 !important
}
.thead td{
	font-size: 30px;
}
.tbody td{
	font-size: 22px;
	padding: 15px 0px;
}
.tbody td:first-child{
	width: 220px
}
.tbody td:nth-child(2){
	width: 210px
}
.worker .tbody td:nth-child(3){
	width: 280px
}
.tbody td:first-child, .tbody td:last-child{
	text-decoration: underline;
}
.admin-add input{
	padding: 10px;
	width: 228px;
	border-radius: 10px;
	border:1px solid #d0d0d0;
	margin-right: 10px 
}
.admin-add div:last-child input{
	width: 80px;
	background-color: #ffd800;
	border-color: #ffd800;
}
.tabs-cont{
	border-bottom: 2px solid #8c8c8c;;
}
.worker, .admins{
	display: none
}
.tabs{
	padding: 10px;
	border: 2px solid #8c8c8c;;
	font-size: 20px;
	border-bottom: 0;
	border-left: 0;
	margin-left: 30px; 
padding-right: 30px;
	position: relative;
	background-color: #fff;
	bottom: -2px;
	cursor: pointer;
}
.tabs:first-child{
	margin-left: 60px; 
}
.tabs span:before{
	content: "";
    position: absolute;
    display: block;
    left: -26px;
    top: -1px;
    width: 27px;
    height: 45px;
    background: url(../img/arr.png) no-repeat;
    background-size: contain;
    background-color: #fff;
}
.tabs span{
	padding: 5px;

}
.tabs.active span{
	background-color: #ffd800; 
}



/*feedback*/
.feed a{
	display: block;
	width: 153px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
}
.order-table-body .feed a{
	margin-top: 15px; 
}
.feed-one{
	background-image: url(../img/feed-one.png);
}
.feed-two{
	background-image: url(../img/feed-two.png);
}
.feed-three{
	background-image: url(../img/feed-three.png);
}
.feed-four{
	background-image: url(../img/feed-four.png);
}
.feed-five{
	background-image: url(../img/feed-five.png);
}
.feed-table-col1{
	width: 395px;
}
.feed-table-col2{
	width: 140px;
}
.feed-table-col3{
	width: 150px;
	text-align: center;
}
.feed-table-col4{
	width: 180px;
}
.feed-table-col5{
	width: 310px;
}
.feedback{
	padding-right: 50px;
	box-sizing: border-box;
}
.edit.rem{
	background-color: #ff0000;
	color: #fff
}



.delete_media:hover, .remove_video:hover {
   text-decoration: underline;
}
.portfolio form{
	margin-bottom: 20px; 
}
.order-table-col1-params-date, .order-table-col1-params-city, .order-table-col1-params-price1, .order-table-col1-params-price2, .order-table-col1-params-time{
	position: relative;
}
.order-table-col1-params-date:before, 
.order-table-col1-params-city:before, 
.order-table-col1-params-price1:before, 
.order-table-col1-params-price2:before, 
.order-table-col1-params-time:before{
	position: absolute;
	top: -15px;
	height: 10px;
	width: 100%;
	display: block;
	color: #9b9b9c;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
}
.order-table-col1-params-date:before{
		content: "Дата";
}
.order-table-col1-params-time:before{
		content: "Время";
}
.order-table-col1-params-price1:before{
		content: "Залог";
}
.order-table-col1-params-price2:before{
		content: "Цена";
}
.order-table-col1-params-city:before{
		content: "Город";
}

.instruction1, .instruction2{
	color: #8c8b8b;
	padding: 10px 0 0;
	box-sizing: border-box;
	margin: 0; 
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
	position: absolute;
	top: -5px;
	right: 5px;
}
.instruction2{
	display: none;
}
.desc_interval{
	position: absolute;
	display: block;
	padding: 20px;
	right: -225px;
	background-color: #ffd800;
	width: 200px;
	top: 40px;
	box-shadow: 3px 2px 10px rgba(128, 128, 128, 0.15);
	display: none;
}
 .desc_interval:after {
    content: '';
    position: absolute;
    left: -5px;
    top: -26px;
    border: 8px solid transparent;
    border-bottom: 23px solid #ffd800;
    transform: rotate(-19deg);
   }
   .prices input[type = text]{
   	width: 48%
   }
  .price_option h5{
  	padding-top:25px;
  	margin: 0
  }
  .desc_h5{
  	color: #8c8b8b;
  	font-size: 12px;
  	padding: 0;
  	margin: 0
  }
  .price_option > div{
  	margin: 0;
  	padding: 10px 0
  }
.price_option h6{
	margin: 5px 0 10px;
	font-size: 14px;
}
#add_city label , .months label{
	min-width: 90px;
}
#add_city div, .months div{
	display: inline-block;
}
.prices{
	margin: 5px 0;
	display: none;
}
.services_wrap{
	padding: 5px 0;
	border: 1px solid #ececec;
	border-bottom: 0px solid #ececec
}
.services_wrap.last-child {
	border-bottom: 1px solid #ececec
}
#add_month{
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
	display: block;
}
.prices label {
    margin-right: 5px;
}
.calendarWrap{
	display: none;
}
.titles {
   padding: 5px;
   width: 50%;
   margin-bottom: 10px;
   border: 1px solid #ececec;
   cursor: pointer;
   font-size: 15px;
}
.desc_days{
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
	color: #ccc
}
.titles.active{
	background-color: #ffd800;
}
.calendarWrap label{
    display: block;
    width: 40px;
    min-width: 0;
    padding: 9px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.add-artist-price form{
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 60px);
}
.price_rules_edit_wrap{
	flex: 1 0 auto;
}

.add-artist-price .tizer-buttons{
	flex: 0 0 auto;
}
.price_rules td{
	border: 1px solid #ececec;
	border-bottom: 0px solid #ececec;
	padding:10px;
	border-right: 0px solid #ececec;
}
.price_rules tbody td:last-child{
	padding:0;
	border-right: 1px solid #ececec;
}
.price_rules tbody tr:last-child td{
	border-bottom: 1px solid #ececec;
}
.container.cd {
    padding-bottom: 20px;
}
.price_rules thead td{
	font-weight: bold;
	background-color:  #ffd800;
}
.price_rules{
	border-spacing: 0px;
	width: 100%;

}
.empty{
	font-size: 24px;
	text-align: center;
	color: #ececec;
	text-transform: uppercase;
}
.delete_rule{
    background-color: #fff;
    background-image: url(../img/close_red.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    border: 0px solid red;
    box-sizing: border-box;
    cursor: pointer;
    padding:0;
}
.table_price {
    width: 60px !important;
}
.price_rules .flex {
	padding:0;
	margin: 0 !important;
}

.price_rules input[type=text] {
    padding: 3px !important;
    height: 20px;
    margin: 2px;
}

.price_rules label {
	padding: 8px 0!important;
    font-size: 14px;
    text-align: right;
    display: block;
    width: 50%;
}
.price_rules td{
	box-sizing: border-box;
	text-align: center;
}
.price_rules td:nth-child(1) {
    padding: 3px;

}
.price_rules td:nth-child(2) {
   width: 100px;
   padding: 3px;
}
.price_rules td:nth-child(3) {
    width: 100px;
    padding: 5px;
}
.price_rules td:nth-child(4), .price_rules td:nth-child(3) {
    width: 144px;
    padding: 5px;
}
.price_rules td:nth-child(5), .price_rules td:nth-child(6) {
    width: 180px;
    padding: 5px;
}
.price_rules td:nth-child(7){
    width: 28px;
    padding: 5px;
}
.checkAll, .unCheckAll{
	display: block;
	text-align: right;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
	color: #ccc;
	padding: 5px;
}
.unCheckAll{
	display: none;
}
.error{
	border: 1px solid red !important;
}
.price_option > div{
	position: relative;
}
.price_option > div .ree{
	top: -8px;
}
/*lk*/
.lk .order-table-col1{
	width: 340px;
	box-sizing: border-box;
}
.lk .order-table-col3{
	width: 140px
}
.calendar-desc span{
	display:block;
   line-height: 22px;
}
.busy-day{
	height: 20px;
	width: 20px;
	background-color: rgba(255, 0, 6, 0.52);
	border-radius: 50%;
	margin-right:  10px; 
}
.busy-day-datepic{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
	background-color: rgba(255, 0, 6, 0.52);
	color: #fff;
	border: 1px solid red;
	text-align: center;
	line-height: 55px
}
.datepicker--cell-day{
	position: relative;
}
.datepicker--cell.-selected-.-focus-{
	background-color: #ff0006 !important;
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-{
	background-color: rgba(255, 0, 6, 0.52)!important;
	border: 1px solid red !important;
	border-radius: 0 !important;
}
/**/
.add-artist-orders .order-table-body .order-table-col3,  .lk .order-table-col4, {
 width: 20%
}
.add-artist-orders .order-table-body .order-table-col4, .lk .order-table-col3{
	width: 28%
}
.add-artist-orders .order-table-body .order-table-col1, .lk .order-table-col1{
	width: 40%
}
.add-artist-orders .order-table-body h4, .add-artist-orders .order-table-body .edit{
	margin: 15px 0;
}
.lk .order-table-col1, .lk .order-table-col4, .lk .order-table-col3{
	text-align: center;
}
.lk{
    background-color: rgba(204, 204, 204, 0.4);
    padding: 10px;
    margin: 0 !important;
}
.add-artist-orders .order-table-body .order-table-col3 {
	border-right: 1px solid rgba(155, 155, 156, 0.3);
    border-left: 1px solid rgba(155, 155, 156, 0.3);
    width: 20%;
    text-align: center;
}


/*______________________INDEX PAGE____________________*/
.index-menu a{
	font-size: 24px;
	color: #d1ae4b;
	display: block;
	position: relative;
	padding: 70px 0 0 0;
   margin: 35px 0;
}
.photographer:before, .videographer:before, .halls:before, .artists:before, .conferance:before, .auto:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	height: 50px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.photographer:before{
	width: 61px;
	background-image: url("../img/photo.png");
	left: calc(50% - 30px);
}
.videographer:before{
	width: 71px;
	background-image: url("../img/video.png");
	left: calc(50% - 35px);
} 
.halls:before{
	width: 72px;
	background-image: url("../img/halls.png");
	left: calc(50% - 36px);
} 
.artists:before{
	width: 51px;
	background-image: url("../img/artist.png");
	left: calc(50% - 25px);
}
.conferance:before{
	width: 36px;
	background-image: url("../img/conf.png");
	left: calc(50% - 18px);
}
.auto:before{
	width: 77px;
	background-image: url("../img/auto.png");
	left: calc(50% - 36px);
}
/*search*/
.index-search form{
	width: 100%
}
.button-search{
	width: 14%;
	background-color: #fedb19;
	border: 0;
	font-size: 30px;
	padding: 10px 0;
	border-radius: 10px;
}
.index-search-input{
	border: 0;
	width: 83%;
	font-size: 30px;
	padding: 10px 20px;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 20px rgba(214, 208, 208, 0.48);
   border-radius: 10px;
}
::-webkit-input-placeholder {color:rgba(0,0,0,0.2);}
::-moz-placeholder          {color:rgba(0,0,0,0.2);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(0,0,0,0.2);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(0,0,0,0.2);}

.index-h1{
	 font-size: 43px !important;
    font-weight: normal;
    text-align: center;
}
.index-h1 span{
    padding: 6px 1px;
    background-image: linear-gradient(to right, #d1af4c 36%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 4px;
    background-repeat: repeat-x;

}
.podbor{
	padding: 20px 0 40px;
	background-color: #ffffff;
   box-shadow: inset 0px 0px 100px #d4d4d4;
   border-bottom: 1px solid #ececec;
}
.index-h2{
	font-size: 36px;
	text-align: center;
	font-weight: normal;
}
.index-tabs{
	width: 75.4%;
	background-color: #fedb19;
	margin: 0 auto;
	font-size: 24px;
	border-radius: 10px; 
	padding: 3px;
}
.index-tabs div{
	width: 30%;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.index-tabs div.active{
	background-color: #fff;
	border-radius: 10px; 
}
.podbor-item{
	width: 360px;
	padding: 30px 0 0 0; 
	
}
.items-category{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	margin: 20px 0
}
.items-category:hover{
	color: #cea83d;
	transition: 0.3s;
}
.item-cart{
	height: 450px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	border-radius: 10px;
	overflow: hidden;
}
.item-photo{
	height: 270px
}
.item-desc{
	padding: 20px;
	border-right: 1px solid #ececec;
   border-left: 1px solid #ececec;
}
.item-desc-params{
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #f1f1f1;
}
.item-desc-params-left{
	width: 120px;
}
.rating, .feedbacks{
	width: 40%;
	position: relative;
	padding-left: 20px;
}
.rating:before,.feedbacks:before{
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	height: 16px;
	-webkit-background-size: cover;
	background-size: cover;
}
.rating:before{
	width: 17px;
	background-image: url(../img/rating.png);
}
.feedbacks:before{
	width: 15px;
	height: 14px;
	background-image: url(../img/feed.png);
	top: 2px;
}
.item-desc-text{
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    height: 80px;
    overflow: hidden;
}
.item-desc-text p{
	margin: 0
}
.item-desc-tags {
	padding-top: 10px;
}
.item-desc-tags span{
	display: inline-block;
	text-transform: lowercase;
	font-weight: 600;
   color: rgba(0, 0, 0, 0.71);
}
.dot{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	top: -3px;
	margin: 0 5px;

}
.index-h3{
	font-size: 60px;
	font-family: "Gotam";
	padding-left: 190px;
	position: relative;
	margin: 0
}
.index-h3:before{
	content: "";
	display: block;
	height: 64px;
	width: 160px;
	position: absolute;
	left: 0;
	background-image: url(../img/hand.png);
}
.work-body{
	font-size: 18px;
	line-height: 28px
}
.work .c30{
	font-size: 16px;
	line-height: 24px
}
.work-body ul li{
	list-style-image: url(../img/list.png);
    padding-left: 10px;
    margin: 10px 0;
}
.index-h6{
	font-size: 22px;
	font-weight: bold;
	margin: 25px 0;
}
.work .container{
	padding-top: 60px;
}
.step .c30 p{
	font-size: 18px;
	line-height: 28px;
}
.step-desc{
	padding: 0 22px;
}
.step {
    padding-top: 20px;
}
.post .container{
	height: 254px;
	background-image: url("../img/-19.png");
}
.post p{
	font-size: 24px;
	padding: 80px;
	line-height: 36px;
}
.but_wed_now{
	width: 70%;
	background-color: #fedb19;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
}
.but_wed_now a{
	font-size: 30px;
	text-decoration: none;
	display: block;
	color: #000000;
	padding: 22px;
}
.but_wed_now a span{
	border-bottom: 2px solid #000;
	padding: 2px 0;
}
.wedding-now{
	padding-top: 60px;
}
.wedding-now .container{
	position: relative;
}
.wedding-now .container:before{
	content: "";
	display: block;
	height: 50px;
	top: -60px;
	position: absolute;
	width: 5px;
	background-image: url("../img/dotted.png");
	left: 50%
}
.wedding-now p{
	text-align: center;
	font-size: 16px;
	line-height: 24px
}

.wedding-now .tel{
	font-weight: bold;
	text-decoration: underline;
	margin: 0 10px;
}

.vk{
	position: relative;
	padding-left: 25px;
	margin: 0 10px;
}
.wats{
	position: relative;
	padding-left: 20px;
	margin: 0 10px;
}
.insta{
	position: relative;
	padding-left: 20px;
	margin: 0 10px;
}
.vk:before{
	content: "";
	position: absolute;
	display: block;
	height: 11px;
	width: 20px;
	background-image: url("../img/vkmin.png");
	top: 2px;
	left: 0
}
.wats:before{
	content: "";
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	background-image: url("../img/watsmin.png");
	top: 0;
	left: 0
}
.insta:before{
	content: "";
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	background-image: url("../img/instamin.png");
	top: 0;
	left: 0
}
.await p{
	font-size: 24px;
	padding-left: 190px;
	color: #080905;
}
.await p a {
	 text-decoration: underline;
	 color: #d2b050;
}
.index-h5{
	font-size: 32px;
	font-family: "Gotam";
}
.await .c50 p{
	font-size: 18px;
}
.await .index-h5{
	padding-left: 210px;
}
.await .c50 p{
	padding-left: 210px;
}
.await .c50{
	position: relative;
}
.await .c50:first-child:before{
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	height: 164px;
	width: 176px;
	background-image: url("../img/await1.png");
}
.await .c50:last-child:before{
	content: "";
	position: absolute;
	left: 0;
	top: 30px;
	height: 127px;
	width: 169px;
	background-image: url("../img/await2.png");
}
.await .c66{
	width: 66%
}
.await .c34{
 	width: 34%;
   padding: 20px 0px 30px 40px;

}
.await .c66 p{
	padding-left: 0;
	font-size: 20px;
	line-height: 30px
}
.await .bot{
	padding-top: 20px;
}
.h2-exepmle{
	font-size: 50px;
	text-align: center;
	margin: 70px 0;
	font-weight: 400;
}
.exemple{
	padding-bottom: 70px;
}
.exemple article:not(.t){
	width: 235px
}
.exemple article p{
	font-size: 18px;
	color: rgba(0,0,0,0.7);
	word-wrap: break-word;
	line-height: 28px
}
.h3-exemple{
	font-size: 28px;
	font-family: "MProB";
	margin: 0
}
.fleft div{
	float: left;
}
.fleft img{
	float: right;
	width: 510px;

}
.fleft{
	clear: both;
	overflow: hidden;
}
.fleft article{
	margin-right: 80px; 
}
.t{
	margin-right: 80px; 
}
.exemple .c30 article{
	margin-left: 80px; 
}
.fleft article:nth-child(2){
	margin-top: 90px; 
}

.exemple article h3{
	padding-left: 35px;
	position: relative;
}
.feed:before, .star:before, .pv:before, .tags:before, .priced:before{
	content: "";
	position: absolute;
	left: 0;

}
.feed:before{
	top: 8px;
	height: 24px;
	width: 26px;
	background-image: url("../img/feed-big.png");
}
.star:before{
	top: 5px;
	height: 23px;
	width: 25px;
	background-image: url("../img/star-big.png");
}
.pv:before{
	top: 6px;
	height: 20px;
	width: 27px;
	background-image: url("../img/pv.png");
}
.tags:before{
	top: 2px;
	height: 28px;
	width: 21px;
	background-image: url("../img/tag.png");
}
.priced:before{
	top: -2px;
	height: 37px;
	width: 29px;
	background-image: url("../img/pr.png");
}
.container::after {
  content: '';
  display: table;
  clear: both;
}

.page-title {
  position: relative;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  color: #080905;
  font-family: 'Gotam', sans-serif;
  font-size: 98px;
  font-weight: 900;
}

.page-title--drum {
 
}

.page-title--drum::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  display: block;
  width: 83px;
  height: 81px;
  margin: auto;

  background-image: url(../img/drum.png);
  background-size: cover;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(360px * 2 + 40px);



  color: #080905;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.search-form input[type=submit]{
	cursor: pointer;
}
.search-form input:not([type=submit]), .search-form  select {
  box-sizing: border-box;
  height: 40px;
  margin-left: 10px;
  padding: 7px;

  border: 1px solid #000;
  border-radius: 10px;
}
.search-form input:not([type=submit]){
	  width: 215px;
}
.search-form  select {
	width: 180px;
}
.search-form  select option:last-child{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.search-form  select:focus {
	outline: none;
}
.search-form input[type=submit] {
  width: 136px;
  height: 42px;
  background-color: #ffd800;
  border: 1px solid #f7f2f2;
  border-radius: 10px;

  color: #080905;
  font-size: 22px;
}

.floatleft{
  float: left;
  margin-right: 40px;
}

.divider {
  display: table;
  clear: both;
}

.divider ~ .podbor-item:nth-child(4n - 1) {
  margin-right: 0;
}

.drum__filter {
  box-sizing: border-box;
  width: 360px;
  margin-top: 35px;
  padding: 35px 40px 20px 30px;
  float: right;

  background-color: #f3f3f3;
  border: 1px solid #f7f2f2;
  border-radius: 10px;
  box-shadow: 0 17px 24px rgba(29, 28, 33, 0.24);
}

.drum__filter-title {
  display: block;
  margin-bottom: 20px;

  color: #080905;
  font-size: 24px;
  font-weight: 700;
}

.drum__filter-form__item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.drum__filter-form__item span {
  display: block;
  margin-bottom: 15px;

  color: #080905;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px
}

.drum__filter-form__item p {
  margin: 10px 0 0;

  color: #000;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

.drum__filter-form__item label {
  cursor: pointer;
}

.drum-form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drum-form-content label {
  flex-basis: 50%;
  margin-bottom: 5px;

  color: #080905;
  font-size: 14px;
}
.drum-form-content.ld label{
	flex-basis: 0;
	line-height: 30px
}
.ld{
	margin: 10px 0
}
.drum-form-content input[type=number], .text-feed,.drum-form-content input[type=date], .ld input[type=text], .ld textarea{
	 padding: 5px;
    box-shadow: inset 0px 1px 4px #afadad;
    border: 0;
}
.drum__filter-result {
  color: #080905;
  font-size: 18px;
}

.drum__filter-submit {
  width: 100%;
  height: 52px;

  color: #080905;
  font-size: 22px;

  background-color: #ffd800;
  border: 1px solid #f7f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffd800;
  cursor: pointer;
}

/**
 * form styler
 * start
 */

.drum-form-content .jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 5px;

  border: 1px solid #c3c3c3;
  border-radius: 3px;
  background-color: #fff;
}

.drum-form-content .jq-checkbox.checked {
  border-color: transparent;
  background-color: #0096ff;
}

.drum-form-content .jq-checkbox.checked .jq-checkbox__div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 13px;
  height: 10px;
  margin: auto;
  background-image: url(../img/checkbox-icon.svg);
}

.drum-form-content .jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background-color: #fff;
}

.drum-form-content .jq-radio.checked {
  border-color: transparent;
  background-color: #0096ff;
}

.drum-form-content .jq-radio.checked .jq-radio__div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 8px;
  height: 8px;
  margin: auto;

  border-radius: 50%;
  background-color: #fff;
}

/**
 * form styler
 * end
 */
 .tizers{
 	max-height: 450px;
 	overflow: hidden;
 }
.tizers .item-photo{
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 190px;
}
.tizers p{
	font-size: 18px;
	font-weight: 400;
	font-family: Arial, sans-serif;
	color: #080905;
	line-height: 30px;
}
.pr{
	padding-right: 50px;
	box-sizing: border-box;
}
.loadNewItem{
	font-family: "Gotam";
	font-size: 104px;
	cursor: pointer;
	margin-top: 50px;
}

.loadNewItem span{
	border-bottom: 7px dashed #d4aa04;
}
.filter-form-date{
	line-height: 24px;
}
#html5{
	width: 100%
}
.button-sort{
	height: 15px;
	width: 15px;
	background-color: #fff;
	background-image: url(../img/sort.png);
	-webkit-background-size: cover;
	background-size: cover;
	border:none;
	cursor: pointer;
	margin: 0 10px 0 5px;
	outline: none;
}

/*Артист мать его*/
h1.itemTitle{
	font-size: 60px;
	font-family: "Gotam";
}
.content{
	width: calc(100% - 430px);
}
.minimg-item{
	display: block;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 80px;
	height: 60px;
	margin: 4px; 
}
.minimg-item.active{
	box-shadow: 0px 0px 0px 2px #00aaf1;
}
.owl-item{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 80px;
	height: 420px;
	width: 100%;
	max-width: 755px;

}
.valuation{
	font-family: Arial;
	font-size: 32px;
	font-weight: bold;
	margin: 30px 0
}
.valuation-row{
	width: 50%;
}
.valuation-row span{
	display: block;
	margin-right: 50px; 
	padding-left: 40px;
	position: relative;
}

.valuation-row span.rat:before, .valuation-row span.fed:before{
	content: "";
	height: 100%;
	width: 30px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	
}
.valuation-row span.rat:before{
	background-image: url(../img/star-big.png);
	background-position: 0 3px ;
}
.valuation-row span.fed:before{
	background-image: url(../img/feed-big.png);
	background-position: 0 5px ;
}
.valuation span.cost:before{
	background-image: url(../img/feed-big.png);
	background-position: 0 5px ;
}
.itemDescriprion{
	font-size: 22px;
	font-family: Arial;
	line-height: 32px;
}
audio{
	width: 100%
}
#audioplayer{
	width: 100%;
	height: 60px;
	margin: 30px auto auto auto;


}

.pButton{
    height: 40px; 
    width: 40px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    background-color: #fff;
    cursor: pointer;
}

.play{background-image: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background-image: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

.timeline{
	width: 100%;
	height: 1px;
	margin-left: 12px;
	border-radius: 15px;
	background: #bfbfbf;
  position: relative;
}
.playhead{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
  position: absolute;
  top :-6px

}

.audiohead{
  line-height: 40px;
  margin: 10px 0;
}
.audiorecord{
	margin: 40px 0;
	width: calc(100% - 470px)
}
.bron input[type=date]{
	
}
.al{
	align-items:flex-start;
}
span.filter-coast{
	font-size: 24px;
	font-weight: bold;
}
.filter-coast{
	line-height: 30px
}
.filter-coast{
	border: 0;
}
.notes{
	width: 360px;
}
.text-feed{
	width: calc(100% - 470px);
	padding:20px;
}
textarea:focus{
	outline: none;
}
.value input[type=radio] {
	display: none;
}
.value label {
	display: block;
	height: 57px;
	width: 60px;
	background-image: url(../img/polygon.png);
	cursor: pointer;
}
.cc label {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../img/polygon.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.cc label.active, .value label.active{
	background-image: url(../img/polygon-active.png);
}
.feed-sub{
	width: 310px;
}
.feedbackForm h5{
	font-size: 22px;
	font-weight: bold;
	padding-left: 40px;
}
.lkStar{
	max-width: 320px;
}
.lkUser .order-table-col4{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.notes{
	font-size: 14px;
	font-style: italic;
	line-height: 20px;
}
.notes p{
	margin-bottom: 30px;
}
.notes p:last-child{
	color: #ff0000
}
.allfeed{
	width: calc(100% - 470px);
	margin-top: 70px;
}
.value{
	padding-left: 40px;
}
.allfeed-item-title{
	line-height: 30px
}
.allfeed-item-title .name{
	margin-right: 25px;
	font-size: 30px;
}
.allfeed-item-title  .data{
	font-size: 20px;
	margin-left: 25px;
}
.allfeed-item p{
	font-size: 22px;
	line-height: 30px
}
.photo-h1:before{
	background-image: url("../img/photo.png");
	width: 100px
}
.rad:before{
	display: none;
}
.ved {
	display: block;
}
.conf:before{
	background-image: url("../img/conf.png");
	width: 59px
}
.container.cd {
    padding-bottom: 20px;
}


.artic{
	max-width: 780px;
	font-size: 18px;
	line-height: 28px; 
}
.artic h1{
	font-family: "Gotam";
	font-size: 60px;
}
.login{
	 font-size: 18px;
    position: absolute;
    background: #fff;
    left: -1px;
    right: -1px;
    z-index: 10;
    padding: 30px;
    padding-top: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
}
.elem{
	width: 375px;
	font-size: 18px;
	line-height: 28px;
}
.ya-share2{
	margin: 10px 0
}
.in{
	margin-left: 10px; 
}
.ya-share2__item {
    margin-right: 8px !important;
}
.elem img{
	margin-right: 20px; 
}
.tis{
	margin: 40px 0
}
.sel{
	 border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}
.notfound {
    font-size: 12px;
    color: #f61137;
    text-align: left;
    line-height: 18px;
}
.center{
	justify-content: center;
}
.login .tabsL{
	font-family: "Gotam";
	padding-bottom: 10px;
}
.login .tabsL span{
	margin: 0 15px;
	text-decoration: underline;
	cursor: pointer;
}
.tabsL .active{
	color: #d4aa04;
	text-decoration: none !important;
}
#loginForm input, #regForm input{
	padding: 8px 11px;
	border-radius: 5px;
	border: 1px solid #a1a1a1;
}
#loginForm .flex, #regForm .flex{
	margin-bottom: 10px; 
	line-height: 38px;
}
#loginForm  button, #regForm  button{
	font-size: 22px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	background-color: #ffd800;
	cursor: pointer;
}
#loginForm .flex:last-child, #regForm .flex:last-child{
	margin-top: 20px; 
}
.notfound span{
	text-decoration: underline;
	cursor: pointer;
}
.isp{
	font-size: 22px !important;
}
.zag{
	font-size: 22px !important;
	font-weight: bold;
	margin-left: 40px; 
}

.fedLk textarea{
	padding: 10px;
}
.tizers p {
    position: relative;
    bottom: 100px;
}

.tizers .item-name {
    font-size: 40px;
    line-height: 1em;
    font-weight: bold;
}

.flipped {
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -o-transform:rotateX(180deg);
    transform:rotateX(180deg);
}

.gidra{
	width: 83px;
	height: 81px;
	display: block;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.reverse{
	background-image: url('../img/sort1.png');
}